<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.halfmoon.market.user.UserMapper">

	<insert id="insUser" useGeneratedKeys="true"
		keyProperty="i_user">
		INSERT INTO t_user
		(id_email, user_nm, user_pw, gender, ph,
		postcode, roadAddr, jibunAddr,
		detailAddr, extraAddr,code)
		VALUES
		(#{id_email}, #{user_nm}, #{user_pw}, #{gender} ,#{ph}, #{postcode},
		#{roadAddr},
		#{jibunAddr}, #{detailAddr}, #{extraAddr}, #{code} )
	</insert>

	<select id="selUser" resultType="UserDomain">
		select *
		from t_user
		<where>
			<if test="i_user > 0">
				i_user = #{i_user}
				AND isAuth = 1	<!-- 인증 검사 -->
			</if>
			<if test="id_email != null and id_email !=''">
				id_email = #{id_email}
				AND isAuth = 1	<!-- 인증 검사 -->
			</if>
		</where>
	</select>
	
	<insert id="insCmt">
	insert into t_store_cmt
	(i_user,i_store,ctnt)
	values
	(#{i_user},#{i_store},#{ctnt})
	</insert>
	
	<insert id="insFollow">
	insert into t_follow
	(i_user,target_user)
	values
	(#{i_user},#{target_user})
	</insert>


	<!-- 마이페이지 등록 상품 목록 list -->
	<select id="selMySaleList" resultType="ProductSaleDomain">
		select i_product, i_user,i_product_type,
		title, p_nm, p_price, type_sub_title, hit, state,p_img_main,
		DATE_FORMAT(r_dt,'%Y-%m-%d') as show_time
		from t_product_sale
		where
		i_user = #{i_user}
		order by i_product desc
	</select>

	<select id="selFavoriteMyList" resultType="ProductSaleDomain">
		select
		a.i_product,a.p_price,a.i_product_type,a.type_sub_title,a.p_img_main,a.title,a.i_loc,a.state,a.r_dt
		from t_product_sale a
		inner join t_favorite b
		on a.i_product =
		b.i_product
		where b.i_user = #{i_user};
	</select>

	<select id="findUser" resultType="UserDomain">
		select id_email,user_nm,ph,DATE_FORMAT(r_dt,'%Y-%m-%d') as show_time
		from t_user
		<where>
			user_nm = #{user_nm}
			and
			ph = #{ph}
		</where>
	</select>

	<select id="findId" resultType="UserDomain">
		select id_email,user_nm,ph,DATE_FORMAT(r_dt,'%Y-%m-%d') as show_time
		from t_user
		<where>
			user_nm = #{user_nm}
			and
			ph = #{ph}
		</where>
	</select>

	<select id="chkMail" resultType="UserDomain">
		select id_email,user_nm,code
		from t_user
		where
		id_email =#{id_email}
		and
		user_nm =#{user_nm}
	</select>

	<select id="findPw" resultType="UserDomain">
		select id_email from t_user
		where
		id_email = #{id_email}
	</select>

	
	
	<select id="selFollow">
	
	</select>

	

	<update id="updAuth">
		UPDATE t_user
		SET isAuth = 1
		WHERE i_user = #{i_user};
	</update>

	<update id="updProfileImg">
		UPDATE t_user
		SET profile_img = #{profile_img}
		where
		i_user = #{i_user};
	</update>

	<update id="updUser">
		UPDATE
		t_user
		<choose>
			<when test="state ==1">
				SET
				user_pw = #{user_pw}
				WHERE
				i_user = #{i_user}
			</when>
			<when test="state ==2">
				SET
				postcode = #{postcode},
				roadAddr =#{roadAddr},
				jibunAddr = #{jibunAddr},
				extraAddr = #{extraAddr},
				detailAddr =
				#{detailAddr}
				WHERE
				i_user = #{i_user}
			</when>
			<when test="state ==3">
				SET
				ph= #{ph}
				WHERE
				i_user = #{i_user}
			</when>
			<when test="state ==4">
				SET
				user_pw = #{user_pw}
				WHERE
				code = #{code}
			</when>
		</choose>

	</update>

	<update id="updCode">
		UPDATE t_user
		SET code = #{code}
		where i_user =
		#{i_user}
	</update>

	<update id="delUserImg">
		UPDATE t_user
		SET profile_img = NULL
		WHERE i_user =
		#{i_user}
	</update>


</mapper>