<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.halfmoon.market.user.UserMapper">

<insert id="insUser">
		INSERT INTO t_user
		(id_email,user_pw,user_nm,gender,user_address, ph)
		VALUES
		(#{id_email}, #{user_pw}, #{user_nm}, #{gender},#{user_address}, #{ph})
</insert>

<select id="selUser" resultType="UserEntity">
	SELECT
			i_user, user_nm,
			<if test="i_user > 0">
				, id_email, ph, gender, profile_img
			</if>
			<if test="id_email != null and id_email !=''">
				, user_pw
			</if>
		FROM t_user
		<where>
			<if test="i_user > 0">
				i_user = ${i_user}
			</if>
			<if test="id_email != null and id_email !=''">
				and id_email = #{id_email}
			</if>
		</where>

</select>

</mapper>