<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.halfmoon.market.user.UserMapper">

<insert id="insUser">
		INSERT INTO t_user
		(id_email,user_pw,user_nm,gender,user_addr, ph)
		VALUES
		(#{id_email}, #{user_pw}, #{user_nm}, #{gender},#{user_addr}, #{ph})
</insert>

<select id="selUser" resultType="UserDomain">
	select i_user, user_nm, user_pw, ph, user_addr, gender, r_dt, profile_img
	from t_user
	where id_email = #{id_email}
</select>

<update id="updUser">
	UPDATE t_user
	<if test='status =1'>
	SET user_pw = #{user_pw}
	</if>
	<if test='status =2'>
	SET profile_img = #{profile_img}
	</if>
	<if test='status =3'>
	SET user_addr = #{user_addr}
	</if>

	WHERE i_user = #{i_user}
</update>

</mapper>