<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.halfmoon.market.product.ProductMapper">

<insert id="insProduct">

</insert>

<select id="selProductList" resultType="ProductDomain">

</select>

<select id="selProduct" resultType="ProductDomain"></select>

<update id="updProduct">

</update>

<delete id="delProduct">

</delete>



</mapper>